.altura{
    height: 30rem;
}

h1{
    margin-top: 2rem ;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


h2{
    background-color: rgb(92, 92, 175);
    text-align: center;
    font-size: 2rem;

    padding: 6px;
}

h3{
    margin: auto;
}

p{
    text-align: center;
}

.map{
    width: 500px;
    height: 400px;
    margin: 2rem 0;
    padding: 2rem;
    
}

.formlook{
    padding: 5%;
}

.sm-button{
    background-color: darksalmon;
  }

.listaDePlanes ul li {
    font-size: 20px;
    font-family: 'Hind Vadodara', sans-serif;
    text-align: center;
    list-style: none;
  }
  